<table class="borderedside">
  <tr>
    <th>Yazar</th>
		<th>Puan</th>
		 </tr>

<% @users.each do |user| %>

	<% toplam = user.posts.count %>
	<% puan = user.posts.where(:sonuc => true) %>
	<% tutan = user.posts.count(:conditions => { :sonuc => true }) %>
	<% orana = puan.aylik.sum(:oran) %>
	<% oranu = puan.average(:oran) %>
	<% aylik_puan = (oranu.to_i * 10) + orana.to_i + (tutan * 2) + toplam + (tutan.to_f / toplam * 100).to_i %>

	 <% if toplam > 0 && tutan > 0 %>
		 <tr>
			  <td ><%= user.username %></td>
			  <td ><%= aylik_puan %></td>
		 </tr>
	 <% end %>
 
 <% end %>

</table>
