<table class="borderedside">
  <tr>
    <th>Yazar</th>
		<th>Puan</th>
		 </tr>

<% @users.each do |user| %>

<% toplam = user.posts.count %>
<% puan = user.posts.where(:sonuc => true) %>
<% tutan = user.posts.count(:conditions => { :sonuc => true }) %>
<% oranu = puan.average(:oran) %>
<% nihaioran = (tutan.to_f / toplam ) %>
 
 <% if toplam > 0 && tutan > 0 %>
 <tr>
  <td ><%= user.username %></td>
	<td ><%= ((oranu * 3) + (nihaioran * 5) + (toplam * 0.005)).to_i * 10 %></td>
	 </tr>
	 <% end %>
 
 <% end %>

</table>
