<h1>Semboller</h1><br>
<h2>Semboller ne işe yarar?</h2>

<%= image_tag 'banko.png'%><br>
Tahmin sahibi uzman tarafından çok yüksek ihtimalle tutması beklenen tahminlere eklenir. Oran'ın nisbeten düşük olması normaldir.
<br><br>
<%= image_tag 'gecerli.png'%><br>
Tahmin sahibi uzman tarafından yüksek ihtimalle tutması beklenen tahminelere eklenir. Oran'ın Banko'ya göre yüksek olması normaldir.
<br><br>
<%= image_tag 'riskli.png'%><br>
Tahmin sahibi uzman tarafından, yüksek risk içermesine rağmen tutma ihtimali olan tahminelere eklenir. Oran'ın oldukça yüksek olması normaldir.
<br><br>
<%= image_tag 'oynanmaz.png'%><br>
Tahmin sahibi uzman tarafından yüksek belirsizlik içeren maçlara eklenir. Oynanmaması tavsiye edilir.
<br><br>